/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

header .nav-link{
  margin: 8px;
  display: inline-block;
}

li.article {
  text-decoration: none;
  display: inline-block;
  border: solid 1px white;
  padding: 16px;
  margin: 8px;
  width: 20%;
}

li.article .article-image {
  display: block;
  max-height: 100px;
  margin: 0 auto;
}

section.article-detailed {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

section.article-detailed .article-image {
  width: 100%;
  max-height: 300px;
  object-fit: scale-down;
  padding: 0.5rem;
}

section.article-detailed .article-heading {
  display: block;
  margin: 0 auto;
  text-align: center;
}

section.article-detailed .article-title {
  margin: 4px 0;
}

section.article-detailed .article-author {
  font-weight: bold;
}

.comments-title {
  margin: 0 auto;
  text-align: center;
}

.comment-form {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.comment-form .comment-from-text {
  flex: 1;
  margin: 8px 0;
}

.comment-form #comment-button {
  align-self: end;
  min-width: 100px;
  padding: 8px;
}


.comment-section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.comment-list {
  margin: auto;
}

li.comment {
  background-color: #edecea;
  padding: 5px;
  display: block;
  margin: 0 auto;
  border: solid 1px black;
}

li.comment .comment-author{
  text-align: right;
  font-weight: bold;
}

footer {
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}